<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>

  <p class="mx-5">Listado Anfitriones</p>

  <table class="table">
    <thead>
      <tr>
        <th>Anfitrión</th>
        <th>Apto</th>
      </tr>
    </thead>

    <tr>
      <% for (a=0 ; a < data.length; ++a) { %>
        <td><a href="/admin/adminHost/filter?h=<%= data[a]._id%>"><%= data[a].name %></a</td>
        <% let aptos = data[a].aptos.split(',') %>
        <% for (x=0; x< aptos.length; ++x) { %>
          <td><%= aptos[x] %></td>
        <% } %>
    </tr>
    <% } %> <!--Ciere del for a-->
  </table>
  <br>

    
</div>


</body>
</html>   