<%- include('partials/_header') %>

<button><a href="/">HOME</a></button>
  
<div class="d-flex">
  <div class="col-3 bg-primary">CUADRO 1</div>
  <div class="col-6 bg-warning">CUADRO 2</div>
  <div class="col-3 bg-danger">CUADRO 3</div>
</div>
</body>
</html> 