<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>


  <p class="mx-5">Felicidades <%= nombre %>, tu cuenta ha sido creada exitosamente !!!</p>
  <br>

  <a href="/logIn" class="btn btn-primary rounded-pill">Iniciar Sesión</a>
    
</div>


</body>
</html>   