<%- include('partials/_header') %>


<div class="d-flex justify-content-center">
  <div class="d-flex mt-5">

    <form class="card text-bg-secondary p-5 rounded" action="/login" method="post" >

      <label class="d-block display-5 mt-4 text-center mb-4" >Registro de visitantes</label>
      <input placeholder="e-mail" class="d-block rounded" style="height: 50px;" name="email" >
      <input type="password" placeholder="contraseña" class="d-block rounded" style="height: 50px;" name="password" >
      <button type="submit" class="d-block btn btn-warning mb-4 " style="height: 50px;">Iniciar sesión</button>
      <p class="d-block" >No estás registrado aún ?</p>
      <button class="d-block rounded" style="height: 50px;"><a href="/register" class="text-decoration-none text-black">Registrarse</a></button>

    </form>
    
  </div>
</div>

</body>
</html> 