<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>


  <p class="mx-5">Esta es una plataforma desarrollada con el único fin, de facilitar el registro de residentes fugaces, intentando de este modo garantizar la seguridad y convivencia de toda la comunidad.</p>
  <br>

  <a href="/logIn" class="btn btn-primary rounded-pill">Ingresar</a>
  <a href="/register" class="btn btn-primary rounded-pill">Registrarme</a>
    
</div>


</body>
</html>   