<%- include('partials/_header') %>


<br>
<div class="text-center mt-5">
  
  <p class="display-2">SOHO 85</p>
  <br>


  <p class="mx-5">Esta es una plataforma desarrollada con el único fin, de facilitar el registro de residentes fugaces, intentando de este modo garantizar la seguridad y convivencia de toda la comunidad.</p>
  <br>

  <a href="/logIn" class="btn btn-primary me-2">Ingresar</a>
  <a href="/register" class="btn btn-primary ms-2">Registrarme</a>

  <p class="mt-5" style="color: rgb(172, 172, 172);" >V 1.1 -- 16102024</p>
  <!-- <p class="mt-5" style="color: rgb(172, 172, 172);" >V 1.0 -- 10102024</p> -->
    
</div>


</body>
</html>   