<%- include('partials/_header') %>

<div class="text-center mt-5">
  <p class="display-2">SOHO 85</p>

  <p class="d-block fw-bold mt-4">CREAR CUENTA</p>

  <% if (!mensajeError) { %>
    <% let fondo = "white" %>
  <% } else { %>
    <% let fondo = "red" %>
    
    <p style="background-color: <%= fondo %>; color: white; padding: 5px;"><%= mensajeError %></p>
    <% } %>

  <form action="/verRegister" method="post" class="d-flex justify-content-center">
  

    <div class="">

      <div class="form-control mb-3 border-0">
        <i class="fa fa-user"></i>
        <input class="border-0 text-center" name="name" placeholder="Nombre del Anfitrión" required>
      </div>
  
      <div class="form-control mb-3 border-0">
        <i class="fa fa-envelope"></i>
        <input class="border-0 text-center" name="email" type="email" placeholder="Correo Electrónico" required>
      </div>
  
      <div class="form-control mb-3 border-0">
        <i class="fa fa-lock justify-content-center "></i>
        <input class="border-0 text-center" name="pass" type="password" placeholder="Contraseña" required>
      </div>
  
      <div class="form-control mb-3 border-0">
        <i class="fa fa-unlock"></i>
        <input class="border-0 text-center" name="confirmPass" type="password" placeholder="Confirmar Contraseña" required>
      </div>
  
      <div class="form-control mb-3 border-0">
        <i class="fa fa-phone"></i>
        <input class="border-0 text-center" name="celular" placeholder="Teléfono de Contacto" required>
      </div>
  
      <div class="form-control mb-2 border-0">
        <i class="fa fa-home"></i>
        <input class="border-0 text-center" name="aptos" placeholder="Aptos a cargo" required>
      </div>
      <p class="ms-3" style="font-size: small;">* Separe por comas (,) si gestiona más de una propiedad</p>
      
      <button class="btn btn-primary mt-3" type="submit">ENVIAR</button>

    </div>
  
  </form>

</div>

</body>
</html>   