<%- include('partials/_header') %>

<div class="card">
  
  <p class="d-block">REGISTRE SU CUENTA</p>
  
  <p style="background-color: red; color: white; padding: 10px;"><%= mensajeError %></p>
  <form action="/verRegister" method="post" class="d-block">
  
    <input class="d-block form-control mb-3" style="width: 75%;" name="name" placeholder="Nombre del Anfitrión" required>
    <input class="d-block form-control mb-3" style="width: 75%;" name="email" type="email" placeholder="Correo Electrónico" required>
    <input class="d-block form-control mb-3" style="width: 75%;" name="pass" type="password" placeholder="Contraseña" required>
    <input class="d-block form-control mb-3" style="width: 75%;" name="confirmPass" type="password" placeholder="Confirmar Contraseña" required>
    <input class="d-block form-control mb-3" style="width: 75%;" name="celular" type="number" placeholder="Teléfono de Contacto" required>
    <input class="d-block form-control mb-3" style="width: 75%;" name="aptos" placeholder="Aptos a cargo" required>
    
    <button type="submit">ENVIAR</button>
  
  </form>

</div>

</body>
</html>   